
h1 {
font-family:proximanova, arial;
display:block;
}
h2 {
  font-family:capita;
}

div, p {
  font-family:capita;
  font-size:16px;
  line-height:28px;
}
.jumbotron, #controls {
  display:block;
}
#controls input[type="number"] {
    width:50px;
    border: 2px solid #ccc;
    border-radius: 2px;
    text-align:right;
    margin-right:5px;
    margin-left:5px;
}
